<% if (typeof username === 'undefined') { %>

<li>
    <a href="/login"><i class="glyphicon glyphicon-user"></i>Login</a>
</li>

<% } else { %>

<li>
		 <ul class="menu">
			<li class="item1">
            <a href="#"><i class="glyphicon glyphicon-user"></i><%=username%> <i class="glyphicon glyphicon-menu-down"></i></a>
			<ul class="cute">
				<li class="subitem1"><a href="/profile">Profile</a></li>
				<li class="subitem2"><a href="/logout">Logout</a></li>
			</ul>
		</li>
		</ul>


</li>

<% } %>
