
<!--
Profile of seller

Full name:
Username:
E-mail:
Free Trial : valid / invalid/ used

-->

<div class=" banner-buying">
	<div class=" container">
	<h3><span>Post New Housing</span></h3> 
	<!---->
	<div class="clearfix"> </div>
		<!--initiate accordion-->
		<script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });
			
			});
		</script>
      		
	</div>
</div>
<!--//header-->
<!--contact-->
<div class="login-right">
	<div class="container">
		<h3>Housing Details</h3>
		<div class="login-top">
				<div class="form-info">
					<form method="POST" action="/seller/postnewhouse">
						<input type="text" name="nama"  placeholder="Place Name" required="" >
						<input type="text" name="alamat"  placeholder="Address" required="" >
						<input type="text" name="genderPenghuni"  placeholder="Renter Gender" required="" >
						<input type="text" name="jumlahKamar"  placeholder="Total Rooms" required="" >
						<input type="text" name="luas"  placeholder="Room Area (in m2)" required="" >
						<input type="text" name="jamBertamu"  placeholder="Visitor Time Rules (?)" required="" >
						<input type="text" name="hewanPeliharaan"  placeholder="Is Pet Allowed?" required="" >   
						<input type="text" name="harga"  placeholder="Price" required="" >
                        <input type="text" name="fasilitasKamar"  placeholder="Room Facility" required="" >        
                        <input type="text" name="fasilitasSekitar"  placeholder="Other Facility" required="" >          
						 <label class="hvr-sweep-to-right">
				           	<input type="submit" value="Post to Listing">
				           </label>
					</form>
				</div>
			
	</div>
</div>
</div>
<!--//contact-->