
<!--
Profile of Buyer

Full name:
Username:
E-mail:
Free Trial : valid / invalid/ used

-->

Your Comments

<ul>
<% for (i = 0; i < comments.length; i++) {%>

    <li> <%= comments[i].comment %> </li>

<% } %>
</ul>